monks_generator/build
monks_generator/properties.json
monks_generator/syntaxes.json
monks_of_style_generator/node_modules
monks_of_style_generator/output
monks_of_style/build
monks_of_style_generator/build
example/.lustre/bin/bun-darwin-aarch64
example/build
